<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First_TESTNG">
  <test verbose="2" name="cn.jely.cd.TestNGTest" annotations="JDK">
    <classes>
      <class name="cn.jely.cd.EmployeeServiceTest">
      	<methods>
      		<include name="find"></include>
      	</methods>
      </class>
    </classes>
  </test>
</suite>